.producto-card{
    width: 260px;
    text-decoration: none;
    color: inherit;

    border-radius: 12px;
    overflow: hidden;

    transition: .2s;

    cursor: pointer;
}

.producto-card:hover{
    transform: translateY(-4px);
}

.producto-card__imagen{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
}

.producto-card__info{
    padding:15px;
}

.producto-card__info h3{
    margin-bottom:8px;
}